@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --container-width: 1200px;

  --primary: #15aebf;
  --secondary: #bdedf2;

  --gray-100: #f2f2f2;
  --gray-500: #595959;
  --gray-700: #404040;
}

/* Darkmode */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

em {
  font-style: normal;
}
